<script>
const token = localStorage.getItem("access");

if (!token) {
  window.location.href = "/login/";
}
</script>
<nav>
<a href="/admin/products/"><button>Manage Products</button></a>
<a href="/admin/orders/"><button >Manage Orders</button></a>
<a href="/admin/payments/"><button>View Payments</button></a>
<a href="/login/" onclick="localStorage.clear()"><button>Logout</button></a>
</nav>
<div id="admin-content"></div>

<h2>Admin Dashboard</h2>

<div>
  <p>Total Products: <span id="total-products"></span></p>
  <p>Total Orders: <span id="total-orders"></span></p>
  <p>Total Payments: <span id="total-payments"></span></p>
  <p>Pending Orders: <span id="pending-orders"></span></p>
</div>


<script>
{% comment %} const token = localStorage.getItem("access"); {% endcomment %}

const totalProducts = document.getElementById("total-products");
const totalOrders = document.getElementById("total-orders");
const totalPayments = document.getElementById("total-payments");
const pendingOrders = document.getElementById("pending-orders");

function loadDashboard() {
  fetch("/api/admin/dashboard/", {
    headers: {"Authorization": "Bearer " + token}
  })
  .then(res => res.json())
  .then(data => {
    totalProducts.innerText = data.total_products;
    totalOrders.innerText = data.total_orders;
    totalPayments.innerText = data.total_payments;
    pendingOrders.innerText = data.pending_orders;
  });
}

loadDashboard();
</script>
