<script>
  const token = localStorage.getItem("access");

  if (!token) {
    window.location.href = "/login/";
  }
</script>
<nav>
  <a href="/admin/dashboard/"><button>Admin Dashboard</button></a>
  <a href="/admin/products/"><button>Manage Products</button></a>
  <a href="/admin/payments/"><button>View Payments</button></a>
  <a href="/login/" onclick="localStorage.clear()"><button>Logout</button></a>
</nav>
<div id="admin-content"></div>

<h2>All Orders</h2>
<ul id="ordersList"></ul>

<script>
{% comment %} const token = localStorage.getItem("access"); {% endcomment %}
  const ordersList = document.getElementById("ordersList");

  fetch("/api/orders/admin-orders/", {
    headers: {"Authorization": "Bearer " + token}
  })
    .then(res => res.json())
    .then(data => {
      ordersList.innerHTML = "";
      data.forEach(o => {
        ordersList.innerHTML += `
      <li>
        Order #${o.id} |
        User: ${o.user_email} |
        Total: ${o.total_amount} |
        Status: ${o.status}
      </li>`;
      });
    });
</script>

